
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'kalame';
    font-style: normal;
    font-weight: 900;
    src: url('../../assets/font/Kalameh-black.ttf');
}
@font-face {
    font-family: 'kalame';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/font/Kalameh-Regular.ttf');
}

* {
    font-family: 'kalame';
    user-select: none;
}