@font-face {
    font-family: "Yekan";
    font-style: normal;
    src: url(/assets/fonts/yekan/BYekan+.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Yekan";
    font-style: normal;
    src: url(/assets/fonts/yekan/BYekan+\ Bold.ttf );
    font-weight: bold;
    font-style: normal;
}

body  
button{
    font-family: "Yekan";
}


