@import url("./font.css");
@tailwind base;
@tailwind components;
@tailwind utilities;



.slide{
    display: none;

    animation: fade 1s;
}
.slide.active{
    display: block;
}

.dot{
border-radius: 100%;    

}

.dots{
    border-radius: 96px 96px 0px 0px / 150px 150px 0px 0px;
}

.dot.active {
    background-color: #417F56;
border-radius: 20%;
width: 20px;    
height: 5px;

}




@keyframes fade {
    0% {
      opacity: 0;
    }
    70% {
      opacity:10
      ;
    }
  }

  
  .blue-border {
    border-color: blue !important; /* تغییر رنگ مرز به آبی */
}


.slide-down-and-center {
  animation: slideDownAndCenter 2s ease-in-out forwards;
  
}

@keyframes slideDownAndCenter {
  0% {
    transform: translateY(-80%) translateX(-50%);
  }
  100% {
    transform: translateY(1) translateX(-50%);
  }
}

@media screen and (min-width: 1024px) {
  
.branche-1:hover  .bracnhe-img {

  width:  100%;
  height: 70% ;
  
  filter: brightness(50%);
  transition: all 0.2s ease-in-out; /* Apply smooth transition */
  
  }

  
  
.branche-1:hover  .branch {
  margin-top: -2.5rem;
 
   }
  
}





  @media screen and (min-width: 1280px) {
    .branche-1:hover .branch {
        margin-top: -3rem;
    }
}






@media screen and (min-width: 1536px) {
  .branche-1:hover .branch {
      margin-top: -3.5rem;
  }
}
